atr = "{{ "{ " }}{%- for i in bgp_networks -%}{{ i }}{{ " " }}{%- endfor -%} }"

set block-policy drop
set skip on lo

block

pass inet proto icmp all icmp-type echoreq
pass inet6 proto icmp6 all icmp6-type echoreq

pass out all flags S/SA
pass quick inet6 from fe80::/64

pass in proto tcp from {{ munin['host'] }} to {{ interface['ext'] }} port 4949

pass in proto tcp to {{ interface['ext'] }} port 22 # SSH
pass in proto tcp to {{ interface['ext'] }} port 179 # BGP

pass in proto tcp to $atr port 80  # HTTP
pass in proto tcp to $atr port 443 # HTTPS

{% if inventory_hostname == "ams01.atr.ilams.net" %}
pass in proto tcp to 165.254.255.23 port 80
pass in proto tcp to 165.254.255.23 port 443
pass in proto tcp to 2001:728:1808::b port 80
pass in proto tcp to 2001:728:1808::b port 443
{% endif %}
