server "cdn.openbsd.org" {
        listen on 67.221.245.0 port 80
        listen on 2607:fae0:245:: port 80

        location "/.well-known/acme-challenge/*" {
{% if inventory_hostname == "ams01.atr.ilams.net" %}
                root "/acme"
                root strip 2
{% else %}
                block return 301 "http://ams01.atr.ilams.net$REQUEST_URI"
{% endif %}
        }
        location "/*" {
                block return 301 "https://cdn.openbsd.org$REQUEST_URI"
        }
}

server "cdn.openbsd.org" {
        listen on 67.221.245.0 tls port 443
        listen on 2607:fae0:245:: tls port 443

        tls certificate "/etc/ssl/cdn.openbsd.org.fullchain.pem"
        tls key "/etc/ssl/private/cdn.openbsd.org.key"

        log {
                access "secure-access.log"
                error "secure-error.log"
        }

        location "/.well-known/acme-challenge/*" {
{% if inventory_hostname == "ams01.atr.ilams.net" %}
                root "/acme"
                root strip 2
{% else %}
                block return 301 "https://ams01.atr.ilams.net$REQUEST_URI"
{% endif %}
        }

        connection { max requests 500, timeout 3600 }

        location "/" {
            directory index index.txt
            root "/htdocs"
        }

        location "/pub/OpenBSD" {
                root strip 2
                fastcgi socket "/run/httpd.sock"
                root "/"
        }
        location "/pub/OpenBSD/*" {
                root strip 2
                fastcgi socket "/run/httpd.sock"
                root "/"
        }
}

server "firmware.openbsd.org" {
        listen on 67.221.245.1 port 80
        listen on 2607:fae0:245::1 port 80

        location "/" {
            block return 302 "http://firmware.openbsd.org/firmware/"
        }

        location "/*" {
            root "/firmware"
        }
}
